## NamedTuple

### General Notes
1. Tuples are immutable data sequences

2. NamedTuples extend their functionality to:
- enable tuples to have names associated with them (properties can be accessed using dot notation) which provides a better idea of what the code is doing -> allow naming of properties with meaningful names within the context of one's code.
    ```python
    person[2] # vs;
    person.middle_name
    ```

- each of these NamedTuples have utility methods for creation and manipulation operations.
- they require no additional memory and are memory-efficient.

3. NamedTuples are create through a factory function found in the `collections` module.
    ```python
    collections.namedtuple(<class_name>, *args)

    '''both specified above are required args'''
    # class_name is the name of the namedtuple to be created

    # *args / field_names - list or iterable type stored in namedtuple method
    # -> string w spaces
    # -> csv delimited string
    # -> iterable (i.e. lists), where each string in it is a name of a field
    ```

4. NamedTuples can store mutable objects, even though they are immutable.

5. Field names cannot start with underscore and cannot name it a reserved python keyword (i.e. `if`, `else`, `return`) etc.

In [1]:
point = (2, 4) # ordinary tuple
point

(2, 4)

In [2]:
print(point[0])

# try to change value -> TypeError as immutable
point[0] = 3

2

TypeError: 'tuple' object does not support item assignment

### Creation of NamedTuples

In [3]:
from collections import namedtuple

# create a class
Point = namedtuple('Point', ['x', 'y'])

p1 = Point(x=4, y=2)
print(p1.x, p1.y)

p2 = Point(5, 3)
print(p2.x, p2.y)

4 2
5 3

In [4]:
print(type(p1))

print(isinstance(p2, tuple))

<class '__main__.Point'>
True

In [5]:
# get an attribute error instead of type error
p1.x = 10

AttributeError: can't set attribute

In [6]:
# demonstrating point 4 in the above description
Person = namedtuple('Person', 'Name Kids')

john = Person('John', ['Joe', 'Jim', 'Jess'])
john

Person(Name='John', Kids=['Joe', 'Jim', 'Jess'])

In [7]:
john.Name = 'Bob'

AttributeError: can't set attribute

In [8]:
john.Kids.append('Jammy') # can append, but cannot modify

In [9]:
john.Kids.remove('Joe')

In [10]:
john.Kids

['Jim', 'Jess', 'Jammy']

In [11]:
# access properties using getattr() method
print(getattr(john, 'Kids'))
print(getattr(p2, 'x'))

['Jim', 'Jess', 'Jammy']
5

In [12]:
newPt = namedtuple('Point', 'x, y')

p = newPt(3, 3)

print(p, p.x, p.y)

Point(x=3, y=3) 3 3

In [13]:
new3DPt = namedtuple('ThreeDimensionPoint', (field for field in 'xyz'))

anotherPt = new3DPt(1, 2, 5)
print(anotherPt)

ThreeDimensionPoint(x=1, y=2, z=5)

In [14]:
# can also use dictionary and **kwargs to populate the point

container = namedtuple('container', ['varA', 'varB', 'varC']) 

vars = {
    'varA' : 'x',
    'varB' : 'x^2',
    'varC' : 'x/2',
}

newPt = container(**vars)
newPt

container(varA='x', varB='x^2', varC='x/2')

### Optional Factory Arguments
- the `namedtuples()` factory function allows one to:
    - auto-rename attributes with illegal naming;
    - provide default values on the right hand side of the attributes;
    - fake the module name of the class (i.e. change `__main__` into something else).

In [15]:
# rename argument
from collections import namedtuple

columns = "_id name class name pass" # can't use reserved words as field_names

Passenger = namedtuple('Passenger', columns)

ValueError: Type names and field names cannot be a keyword: 'class'

In [16]:
Passenger = namedtuple('Passenger', columns, rename=True)

In [17]:
pasgr = Passenger(1234, "John", "Totally Nothing Illegal", "John Doe", "Jane")
pasgr

Passenger(_0=1234, name='John', _2='Totally Nothing Illegal', _3='John Doe', _4='Jane')

In [18]:
Developer = namedtuple('Developer', 'name level language', defaults=["Senior", "Java"])

sam = Developer('sam')
print(sam)

Developer(name='sam', level='Senior', language='Java')

In [19]:
tony = Developer('Tony', 'Junior') # dangerous since positioning matters
print(tony)

Developer(name='Tony', level='Junior', language='Java')

In [20]:
# module argument
from collections import OrderedDict
OrderedDict.__module__

'collections'

In [21]:
Point = namedtuple('Point', 'x y', module='custom')
Point.__module__

'custom'